doctype html
html(lang="en")
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li(role="presentation")
              a(href="/offers") Home
            li(role="presentation")
              a(href="/logout") Logout
        h3 Offers
        p(class="text-muted") Node.js Express application using MongoDB and Bootstrap CSS
        block content
        footer.footer
          br
          p &copy; 2015 Shaji.
