extends layout

block content
  .panel.panel-default
    .panel-heading #{title}
    .panel-body
      form(name="offerForm", action="/offers/create", method="post")
        label User
        p #{user.firstname} #{user.lastname}
        label Offer Details
        p
          .form-group
            textarea.form-control(name="offerdetails")
        hr
        input(type="hidden", name="user", value="#{user._id}") 
        input.btn.btn-success(type="submit", value="Save changes") 
        &nbsp;
        a.btn.btn-warning(href="/offers") Cancel
